/* Cambiar el tipo de letra de headings, body y footer, junto con la clase ctions*/
h1,
h2,
h3,
nav,
footer,
.act {
    font-family: 'Work Sans', sans-serif;
}

body {
    font-family: Georgia, Cambria;
    font-size: 100%;

    background-color: whitesmoke;
    background-image: url('/practica5/images/background-pattern.png');
}

/* Modificar los encabezados */
h1 {
    padding-left: 6em;
}

h2 {
    font-size: 1.125rem;
}

/* Cambiar los estilos de los enlaces */
a:visited {
    color: #BB78BB;
}

a:link {
    font-weight: bold;
    color: #795548;
}

a[href^="mailto"] {
    background: url(../images/email.png) no-repeat 0 3px;
    padding-left: 1em;
}

a[href^="tel"] {
    background: url(../images/chart.png) no-repeat 0 3px;
    padding-left: 1em;
}

/* Agregar el header */
header {
    background-color:   #e0f7fa ;
}

/* Modificar la barra de navegacion */
nav#firstmenu {
    background-color:   #8bc34a  ;
    font-size: 0.85em;
    text-align: right;
    padding-right: 6em;
}

nav#secondarymenu {
    background-color: #DAE1E8;
    font-size: 1em;
    padding-left: 6em;
}
nav ul li {
    list-style: none;
    display: inline;
}

nav {
    padding: 0.50em;
}

nav a {
    padding: 0.25em;
}
.anuncios {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between; /* Espacio entre las columnas */
}

.anuncio {
    border: 1px solid #ccc;
    padding: 20px;
    width: calc(50% - 20px); /* Esto divide el ancho en 2 con espacio entre los elementos */
    background-color: azure;
    margin: 0 10px 20px; /* Margen superior e inferior de 20px y margen izquierdo y derecho de 10px */
    display: inline-block; /* Muestra los artículos en línea uno al lado del otro */
    text-align: center; /* Centra el texto horizontalmente */
    vertical-align: top; /* Alinea los elementos arriba */
    flex: 1; /* Hace que todas las columnas tengan el mismo ancho */
}
