* {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}

/* Estilos para modificar la apariencia del header*/
.nav-item{
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 3rem;
}

.navbar{
    background-color: rgb(255, 243, 224);
    
}

#firstNav .navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

#firstNav .navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

#firstNav .material-symbols-outlined {
    margin-right: 8px; 
}

/* Estilos para el nav secundario*/
#secondaryNav form{
    margin-left: 10rem;
    width: 20rem;
}

/* para ajustar el tamaño, en este caso la altura del boton*/
#secondaryNav .btn {
    height: 2.25rem;
    width: 3rem;
    margin-left: 1px;
}

#secondaryNav .navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

#secondaryNav .material-symbols-outlined {
    margin-right: 8px; 
}

/* Estilos para el main*/
/* Estilos para departamentos*/
/* styles.css */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#departamentos-ejemplos, #casas-ejemplos {
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#departamentos-ejemplos h3,
#casas-ejemplos h3 {
    order: -1;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

#departamentos-ejemplos .card,
#casas-ejemplos .card {
    width: 18rem;
    margin-top: 10px;
}

/* Estilos del footer*/
.footer {
    display: flex;
    color: #fffefe;
    padding: 2rem 0;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb( 121, 134, 203 );
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.footer h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.links li {
    list-style: none;
    line-height: 30px;
    text-align: center;
    font-weight: 100;
}

.links li a {
    text-decoration: none;
    color: #fff;
}

.registration {
    display: flex;
    flex-direction: column;
}

.registration input {
    padding: 10px;
    font-weight: 100;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    margin: 1rem 0;
}

button {
    border: none;
    padding: 12px 0;
    border-radius: 30px;
    cursor: pointer;
}

.address {
    text-align: center;
    margin-bottom: 10px;
}

.social {
    display: flex;
    list-style: none;
}

.social li {
    margin: 0 8px;
    cursor: pointer;
    font-size: 18px;
}

.text-danger {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
}

/* carrusel */
#carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.text-center {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: red;
    margin-top: 1em;
}

#carouselExampleAutoplaying {
    background-color: blue;
}


/* Estilos para la sección de información */
.information-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: #007bff;
}

.info-item {
    margin-bottom: 10px;
}

.section-subtitle {
    color: #28a745;
}

.included-list {
    list-style-type: none;
    padding: 0;
}

.favorite-icon,
.payment-icon {
    font-size: 24px;
    color: #ffc107; /* Amarillo */
    margin-right: 5px;
}

.payment-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.information-section {
    background-color: beige;
    margin-bottom: 1em;
}

.text-3d {
    font-size: 24px;
    color: #007bff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Tamaño y color de la sombra */
}

.enlarge-on-hover {
    transition: transform 0.3s ease-in-out;
}

.enlarge-on-hover:hover {
    transform: scale(1.1);
}
